body {
  background-color: #444;
  color: white;
  margin: 75px;
  font: 32px "Century Gothic", Futura, sans-serif;
}

.game {
  margin: 10px auto;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px; /* Limit the maximum width for larger screens */
}
